/* Modified for Stephen Flemister */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,300italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);
@import url(https://fonts.googleapis.com/css?family=Tulpen+One);
/* Use for Crimson Text
Weights 400, 600, 700
font-family: 'Crimson Text', serif; */

/* Use for Open Sans Condensed
Weight 300
font-family: 'Open Sans Condensed', sans-serif;*/

/*
=========== GLOBAL
*/
html {
	color: #99111b;
}
body {
	color: #555555;
	font-family: 'Crimson Text', sans-serif;
	font-weight:400;
}
.clr{
	clear:both;
}

/*
=========== STRUCTURE
*/
.container {
	max-width: 686px;
	height: auto;
	margin:0px auto;
	padding:0px;}

.large_col {max-width:100%;}
.medium_col {width:50%;float:left;}
.small_col {width:33.33%;float:left;}
.xsmall_col {width:25%;float:left;}
.full_col {}

.smlrg-s_col {width:15%;min-width:150px;float:left;background:#E2E2E2;}
.smlrg-l_col {width:85%;float:left;background:#E2E2E2;}
.lrgsm-l_col {}
.lrgsm-r_col {}

.box1 {margin:0;}
.sp10 {height:10px}



/*
=========== TREATMENT
*/

html {

}
body {
	margin: 0;
	padding: 0;
	background: url(images/record-bkgd.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 16px;
	line-height: 1.4em;
}
.text-white {
	color: #FFFFFF;
}
.text-gray {
	color: #555555;
}
.text-gray-light {
	color: #BBBBBB;
}
.text-red {
	color: #99111b;
}
nav {
	background-color: #eeeeee;
}
.nav_col {
	max-width: 768px;
	height: auto;
	margin:0px auto;
	padding:0px;
}
#wrapper-header {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.2+0,0.01+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000',
		endColorstr='#03000000',GradientType=0 ); /* IE6-9 */
	overflow: hidden;
}
#container-header {
	max-width: 100%;
}
#container-post-info {
	margin-top: 20px;
}
.main, .container-post {
	background-color: rgba(255, 255, 255, 0.4);
	padding: 20px;
  	margin-bottom: 20px;
  	margin-top: 20px;
	border: solid 1px #99111b;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; /* future proofing */
	-khtml-border-radius: 6px; /* for old Konqueror browsers */
}
#container-post {
	background-color: #555555;
	color: #CCCCCC;
	border: solid 1px #99111b;
	padding: 20px;
  	margin-bottom: 20px;
  	margin-top: 20px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; /* future proofing */
	-khtml-border-radius: 6px; /* for old Konqueror browsers */
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 auto;
}
h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 28px;
	line-height: 28px;
	margin: 30px auto 4px;
	text-align: center;
	text-shadow: 0px 1px 5px #FFFFFF;
}
h2 {
	font-family: 'Tulpen One', sans-serif;
	font-weight: 400;
	font-size: 140px;
	line-height: 140px;
	text-align: center;
	color: #99111b;
	text-shadow: 0px 3px 7px #FFFFFF;
	letter-spacing: 5px;
}
.headline-interior h1 {
	font-size: 20px;
	line-height: 20px;
	margin: 20px auto 20px;
}
.box1, .box2 {
	margin-bottom: 10px;
	line-height: 14px; 
	font-size: 14px;
}
ul.tracklist, ul.tracklist li {
	padding: 0;
	margin: 0;
}
ul.tracklist li {
	display: inline;
}
.headline {
	overflow: visible;
}
.artist {
	font-size: 30px;
}
.artist-post {
	font-size: 32px;
	line-height: 32px;
}
.record {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	color: #99111b;
}
.record-post {
	font-size: 90px;
	line-height: 90px;
	font-family: 'Tulpen One', sans-serif;
	display: block;
}
.category {

}
.label {

}
.year-released {

}
.purchase-date {

}
.purchase-amount {

}
.tracklist {

}
.tracks {

}
.thoughts {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	line-height: 18px;
}
.post-thoughts {
	color: #FFFFFF;
}

footer {
	background-color: #99111b;
	color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	-webkit-box-shadow: 0px -5px 15px 0px rgba(153,17,27,0.5);
	-moz-box-shadow: 0px -5px 15px 0px rgba(153,17,27,0.5);
	box-shadow: 0px -5px 15px 0px rgba(153,17,27,0.5);
}
h3 {
	font-family: 'Tulpen One', sans-serif;
	font-size: 30px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 5px;
	padding: 15px 0;
}



/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 58em) {
	.large_col {}
	.medium_col {}
	.small_col {}
	.xsmall_col {width:25%;float:left;}
	.full_col {}
	
	.smlrg-s_col {width:30%;min-width:200px;float:left;background:#E2E2E2;}
	.smlrg-l_col {width:70%;float:left;background:#E2E2E2;}
}


@media (max-width: 58em) {
	.smlrg-s_col {width:25%;min-width:150px;float:left;background:#E2E2E2;}
	.smlrg-l_col {width:75%;float:left;background:#E2E2E2;}
}


@media (max-width: 48em) {
	.large_col {}
	.medium_col {}
	.small_col {}
	.xsmall_col {}
	.full_col {}
	
	
	.smlrg-s_col {width:35%;min-width:200px;float:left;background:#E2E2E2;}
	.smlrg-l_col {width:65%;float:left;background:#E2E2E2;}
}

@media (max-width: 35em) {
    .large_col {}
	.medium_col {width:100%;float:left;border:solid;border-width:0 0 1px 0}
	.small_col {width:100%;float:left;border:solid;border-width:0 0 1px 0}
	.xsmall_col {width:50%;float:left;}
	.full_col {}
	
	.smlrg-s_col {width:100%;background:#E2E2E2;}
	.smlrg-l_col {width:100%;background:#E2E2E2;}

}

@media (max-width: 25em) {
    .large_col {}
	.medium_col {width:100%;float:left;border:solid;border-width:0 0 1px 0}
	.small_col {width:100%;float:left;border:solid;border-width:0 0 1px 0}
	.xsmall_col {width:50%;float:left;}
	.full_col {}
	
	.smlrg-s_col {width:100%;background:#E2E2E2;}
	.smlrg-l_col {width:100%;background:#E2E2E2;}

}
