    <div class="container main">
    <!-- LARGE 1 COLUMN -->
      <div class="large_col">
        <a href="{{ site.baseurl }}{{ album.url }}"><span class="artist">{{ album.artist }}</span> / 
        <span class="record">{{ album.title }}</span></a>
        <div class="box3">
          <span class="release-date"><strong>Release Date: </strong>{{ album.release_date }}</span>
          <a href="{{ site.baseurl }}{{ album.url }}" class="read-more clr dspblock"><span class="thoughts"><strong>Everything you need to know ...</strong></span></a>
        </div>
      </div>
      <!-- LARGE 1 COLUMN -->
    </div>
