---
layout: default
---

<article class="post">

<div class="wrapper" id="wrapper-post-info">
    <div class="container" id="container-post-info">
        <!-- LARGE 1 COLUMN -->
        <div class="large_col">
            <div class="box1 post-titles">
                <span class="artist artist-post">{{ page.artist }}</span>
                <span class="record record-post clr">{{ page.title }}</span>
            </div>
            <div class="box1 post-info">
                <span class="category"><strong>Category:</strong> {{ page.category }}</span> | 
                <span class="label"><strong>Record Label:</strong> {{ page.record_label }}</span> | 
                <span class="year-released"><strong>Year Released:</strong> {{ page.year_released }}</span> | 
                <span class="purchase-date"><strong>Purchase Date:</strong> {{ page.purchase_date }}</span> | 
                <span class="purchase-amount clr"><strong>Purchase Amount:</strong> {{ page.purchase_amount }}</span>
            </div>
            <div class="box1 post-tracks">
                <span class="tracks"><strong>Tracks:</strong></span>
                <ul class="tracklist clr">
                    {% for track in page.tracks %}
                    <li><i style="white-space: nowrap">{{ track }}</i></li> | 
                    {% endfor %}
               </ul>
            </div>
        </div>
    </div>

    <div class="container" id="container-post">
    	<!-- LARGE 1 COLUMN -->
    	<div class="large_col">
            <div class="box3 post-thoughts">
                <span class="thoughts"><strong>Everything you need to know ...</strong></span>
                {{ content }}
                <p><em>Written on {{ page.date | date: "%B %e, %Y" }}</em></p>
            </div>
        </div>
    	<!-- LARGE 1 COLUMN -->
    </div>

</div>

  {% include disqus.html %}
</article>
