---
layout: default
---

<div class="box1 revolution-titles">
    <span class="revolution-static">REVOLUTION:</span>
    <span class="revolution-category-title">PUNK</span>
</div>
<div class="container">
    <div class="large_col">
        <div class="box3 revolution-content">
            <p>Her name was Pauline she lived in a tree. Body I'm not an animal. Body I'm not an animal. There was fuck all else to do. The captain of this lugger. By Christ, he was a gorgon. Ten times a day sweet tunes he'd play. By Christ, ya shoulda seen us. She just had an abortion. Friggin' in the riggin'. Illegitimate place to be. On his fuckin' organ. She was a case of insanity. By Christ he was a trooper.. She was an animal. She sent her letters from the country. She was a no-one who killed her baby. Belsen was a gas a read the other day. The figurehead was a whore in bed. He wasn't fit to shovel shit. She was a bloody disgrace</p>
        </div>
    </div>
</div>
{{ content }}

