---
layout: default
---

<div class="box1 revolution-titles">
    <span class="revolution-static">REVOLUTION:</span>
    <span class="revolution-category-title">POST-BOY BAND</span>
</div>
<div class="container">
    <div class="large_col">
        <div class="box3 revolution-content">
            <p>Shut me up. So I'm joining the a Army.. when i said ' I can see me in your eyes'. Slip back out of whack at your best.. Oh, it turns me off. I've been walking for miles. It's a nightmare. 'Cause I'm through.. Others are quiet and uptight.. either you're noticed or left out. Inside they might feel sad and wrong (oh no).. Fear of sleep. I was hiding from the world, I was a squirrel. I'll wait for you.. Sit me down. I won't just be a puppet on a string.. and i'll get along with you. Twenty-nine different attributes.. When I feel left out. Ooh Fear of sleep. </p>
        </div>
    </div>
</div>
{{ content }}

