---
layout: default
---

<div class="box1 revolution-titles">
    <span class="revolution-static">REVOLUTION:</span>
    <span class="revolution-category-title">GRUNGE/ALTERNATIVE</span>
</div>
<div class="container">
    <div class="large_col">
        <div class="box3 revolution-content">
            <p>A mosquito, my libido, yeah, hey, yay. Hello, hello, hello. Yeah, yeah, yeah, yeah. I feel stupid and contagious. "Come on people now, smile on your brother and. Here we are now, entertain us. Pass it back and forth. And I'm not sad and just maybe. Yeah, yeah, yeah, yeah. Please don't deceive me when I hurt you. Here we are now, entertain us. Chew your meat for you. 'Cause today I found my friends. I'm so happy. Hello, hello, hello, how low? Hello, hello, hello, how low?. I'm so lonely. Would you believe me when I tell you. </p>
        </div>
    </div>
</div>
{{ content }}

