---
layout: default
---

<div class="box1 revolution-titles">
    <span class="revolution-static">REVOLUTION:</span>
    <span class="revolution-category-title">POST-PUNK</span>
</div>
<div class="container">
    <div class="large_col">
        <div class="box3 revolution-content">
            <p>Why is the bedroom so cold turned away on your side?. ...4!. Can't stand on your own in these times,. Heroes, idols cracked like ice.. So take a chance and step outside,. a tendency just to take,. Pure frustration face to face.. Here, here,. Only thing I'm thinking of is why are we all here?. Strain, take the strain, these days we love,. like i did once before,. You'll find yourself in a gutter,. Your hopes, your dreams, your paradise.. When routine bites hard and ambitions are low. what I don't buy I don't use. Everything is by design,. Everything is kept inside.. </p>
        </div>
    </div>
</div>
{{ content }}

