---
layout: default
---

<div class="box1 revolution-titles">
    <span class="revolution-static">REVOLUTION:</span>
    <span class="revolution-category-title">POST-BEATLES</span>
</div>
<div class="container">
    <div class="large_col">
        <div class="box3 revolution-content">
            <p>I'll write home every day. She loves you, yeah, yeah, yeah. You think you lost your love. All the lonely people. She said you hurt her so. Ah, look at all the lonely people. Ah, look at all the lonely people. All the lonely people. She loves you, yeah, yeah, yeah. Eleanor Rigby, picks up the rice. She almost lost her mind. Wearing a face that she keeps in a jar by the door. When I saw her yesterday. Close your eyes and I'll kiss you. Waits at the window. Where do they all come from?. She loves you, yeah, yeah, yeah, yeah. But now these days are gone, I'm not so self assured. Tomorrow I'll miss you. And then while I'm away. I never needed anybody's help in any way.</p>
        </div>
    </div>
</div>
{{ content }}

